= form_for @bet do |f|
  - if @bet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bet.errors.count, "error")} prohibited this bet from being saved:"
      %ul
        - @bet.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
