<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @bet.amount %>
</p>

<p>
  <b>Owner:</b>
  <%= @bet.owner %>
</p>


<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
