<h1>Listing wookies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Best time</th>
    <th>Odds</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wookies.each do |wooky| %>
  <tr>
    <td><%= wooky.name %></td>
    <td><%= wooky.best_time %></td>
    <td><%= wooky.odds %></td>
    <td><%= link_to 'Show', wooky %></td>
    <td><%= link_to 'Edit', edit_wooky_path(wooky) %></td>
    <td><%= link_to 'Destroy', wooky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wookie', new_wooky_path %>
