<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wooky.name %>
</p>

<p>
  <b>Best time:</b>
  <%= @wooky.best_time %>
</p>

<p>
  <b>Odds:</b>
  <%= @wooky.odds %>
</p>


<%= link_to 'Edit', edit_wooky_path(@wooky) %> |
<%= link_to 'Back', wookies_path %>
